body {
  background-color: #e5dcc3;
  color: #333;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #7a9483;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: #aaa492;
}